<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- html注释 -->
    <%# 引入公共模板文件 %>
        <%- include('header') %>

            <h2>ejs模板引擎</h2>
            <div>欢迎您
                <%=usr  %>回来</div>

            <div>
                <ul>
                    <% for(let i = 0;i<uArr.length;i++) { %>
                        <li>
                            <%=uArr[i].uname %> |
                                <%=uArr[i].age %> |
                                    <%=uArr[i].email %>
                        </li>
                        <% } %>
                            <!--
                    <li>李四 | 19 | lisi@qq.com</li>
                    -->
                </ul>
            </div>
            <div>

                <% for(let i = 0;i<score.length;i++) { %>
                    <p>
                        <%=score[i] %>
                    </p>
                    <% if(score[i] >= 80){ %>
                        <p>优秀</p>
                        <% }else if(score[i] >= 70){ %>
                            <p>良好</p>
                            <% }else{ %>
                                <p>一般</p>
                                <% } %>
                                    <% } %>
            </div>
</body>

</html>